$primary: #024430;
$secondary: #161616;
$black: #000;
$white: #fff;
$light_white: #e0e0e0;
$light_dark: #828282;
$light_main_bg: #f6f6f6;
$light_text: #527180;
$shadow_hover: rgba(0, 0, 0, 0.09) 0px 3px 12px;
$shadow_box: 0px 0px 30px 0px rgba(14, 41, 50, 0.08);
$shadow_image: 9px 11px 23px 0px rgba(6, 61, 79, 0.12);
$box1: #e0f1f4;
$box2: #dff9f3;
$box3: #ffeade;
$box4: #efe9ff;
$box5: #ffefd1;
$box6: #d1ecf7;

/* MEDIA SCREENS 
@media screen and (min-width: 1200px) {
  
 }
    @media screen and (min-width: 992px) {

    }
    
    @media screen and (min-width: 768px) {

    }
    @media screen and (min-width: 576px) {

    }

      @media screen and (min-width: 400px) {

      }
*/
