$primary: #024430;
$secondary: #161616;
$black: #000;
$white: #fff;
$light_white: #e0e0e0;
$light_dark: #828282;
$light_main_bg: #f6f6f6;
$light_text: #527180;
$shadow_hover: rgba(0, 0, 0, 0.09) 0px 3px 12px;

/* MEDIA SCREENS 
@media screen and (min-width: 1200px) {
  
 }
    @media screen and (min-width: 992px) {

    }
    
    @media screen and (min-width: 768px) {

    }
    @media screen and (min-width: 576px) {

    }

      @media screen and (min-width: 400px) {

      }
*/
