/* ---------------------------MIXINS--------------------------- */

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------------CONTAINER VARIABLE---------------------- */
.container_main {
  padding: 1rem;

  @media screen and (min-width: 400px) {
    padding: 2rem;
  }
}

/* ----------------------TEXT VARIABLE---------------------- */
.large_text {
  font-size: 1.8rem;
  line-height: normal;
  font-weight: 900;
  text-transform: capitalize;

  @media screen and (min-width: 400px) {
    font-size: 2.5rem;
  }

  @media screen and (min-width: 768px) {
    font-size: 4rem;
  }
}

.medium_text {
  font-size: 1.7rem;
  font-weight: 800;
  width: 100%;
  max-width: 40rem;
  margin: 0.2rem 0;

  @media screen and (min-width: 576px) {
    font-size: 2.7rem;
  }

  &.l_height {
    @media screen and (min-width: 992px) {
      line-height: 2.5rem;
    }
  }
}

.small_text {
  font-size: 1.2rem;
  width: 100%;
  line-height: normal;
  max-width: 35rem;
  font-weight: 500;

  &.spacing {
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
  }

  &.l_height {
    line-height: 1.7rem;

    @media screen and (min-width: 768px) {
      line-height: 2.2rem;
    }
  }
}

.link_text {
  text-decoration: underline;
  width: fit-content;

  &:hover {
    color: $link_hover;
  }
}

.text_primary {
  color: $primary;
}

.text_light {
  color: $light_text;
}

.text_center {
  text-align: center;
}
.text_black {
  color: $black;
}

.learn_more {
  text-transform: capitalize;
  max-width: fit-content;
  margin: 0 auto;
  @include flex_center();
  gap: 0.4rem;

  &:hover {
    font-weight: 800;
  }
}

/* BOX VARIABLE */
.box {
  width: 100%;
  max-width: 25rem;
  height: 100%;
  min-height: 27rem;
  text-align: center;
  box-shadow: $shadow_box;
  border-radius: 8px;
  padding: 1rem 0;

  &:nth-child(1) {
    background: $box1;
  }
  &:nth-child(2) {
    background: $box2;
  }
  &:nth-child(3) {
    background: $box3;
  }
  &:nth-child(4) {
    background: $box4;
  }
  &:nth-child(5) {
    background: $box5;
  }
  &:nth-child(6) {
    background: $box6;
  }

  &:hover {
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    cursor: pointer;
    box-shadow: $shadow_hover;
  }

  &_inner {
    display: grid;
    gap: 2rem;
    padding: 1rem;
    color: $primary;

    @media screen and (min-width: 400px) {
      padding: 2.5rem 1.5rem;
    }
  }

  &_top {
    @include flex_center();
    flex-direction: column;
    gap: 1rem;

    img {
      box-shadow: $shadow_image;
      background: $white;
      border-radius: 8px;
      padding: 1rem;
      width: 6rem;
      aspect-ratio: 1/1;

      @media screen and (min-width: 400px) {
        padding: 1.5rem;
        width: 7rem;
      }
    }

    h4 {
      font-size: 1.5rem;
      text-transform: capitalize;
    }
  }

  &_bottom {
    font-size: 1rem;
    color: $light_text;
    height: 18vh;
    line-height: 1.2rem;

    @media screen and (min-width: 400px) {
      letter-spacing: 0.1px;
      line-height: 1.5rem;
    }
  }
}

.review {
  &_line {
    border: 1px solid $line;
    margin: 1.5rem 0;
    width: 100%;
  }
  &_box {
    overflow: hidden;
    width: 100%;
    max-width: 30rem;
    border: 1px solid $x_tick;
    background: $white;
    border-radius: 8px;
    transition: all 1s ease-in-out;
    position: relative;

    &:hover {
      transition: all 1s ease-in-out;
      box-shadow: $shadow_box;
      border: 1px solid $light_border;
    }

    &_inner {
      display: grid;
      gap: 1rem;
      padding: 1.5rem 2rem;
    }

    &_top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      &_left {
        @include flex_center();
        gap: 0.8rem;
        img {
          width: 4rem;
          aspect-ratio: 1/1;
          border-radius: 50%;
        }

        h6 {
          color: $primary;
          font-size: 1.1rem;
          font-weight: 700;
        }

        p {
          font-size: 0.8rem;
          line-height: normal;
          font-weight: 500;
          color: $light_text;
        }
      }
    }

    &_middle {
      color: $black;
      font-size: 1rem;
      line-height: normal;
    }

    &_bottom {
      &_inner {
        @include flex_center();
        justify-content: space-between;
        color: $light_text;
        font-weight: 500;
        font-size: 0.9rem;
      }
    }

    &.special_bg {
      background: #ffe7bb;
      border-color: #ffd166;

      &:hover {
        box-shadow: $shadow_hover;
      }
      .review_line {
        border-color: #ffd166;
      }
    }
  }
}

/* SCROLL ANIMATION */
.scroll_active {
  position: fixed;
  transition: all;
  transition-duration: 5s;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: $shadow_hover;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transition: all 1s ease-in-out;
  z-index: 1000;
}

/* ----------------------BUTTON VARIABLE---------------------- */
.main_btn {
  border: 1px solid $primary;
  text-transform: capitalize;
  background: transparent;
  font-size: 1rem;
  width: 50%;
  height: 3rem;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  margin: 1rem 0;

  &:hover {
    font-weight: 600;
    background: $primary;
    color: $white;
  }
}

.action_btn {
  .nav_btn {
    border: 1px solid $primary;
    text-transform: capitalize;
    background: transparent;
    font-size: 1rem;
    width: 7.5rem;
    height: 3rem;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    border-radius: 8px;
    &:nth-child(1) {
      text-decoration: underline;
      border: none;
      color: $primary;

      &:hover {
        background: transparent;
        color: blue;
      }
    }

    &:hover {
      font-weight: 600;
      background: $primary;
      color: $white;
    }
  }

  &.mobile {
    display: grid;
    place-items: center;
    justify-content: center;
    gap: 1.5rem;

    & .nav_btn {
      width: 15rem;
    }
  }
}

.plan_btn {
  border: 1px solid $primary;
  text-transform: capitalize;
  background: transparent;
  color: $primary;
  font-size: 1rem;
  width: 14rem;
  height: 3rem;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  @include flex_center();
  gap: 0.4rem;
  border-radius: 8px;

  @media screen and (min-width: 576px) {
    width: 12rem;
  }

  &:hover {
    font-weight: 700;
    background: $primary;
    color: $white;
  }

  &.contact {
    background: $primary;
    color: $white;
    opacity: 1;
    &:hover {
      opacity: 0.7;
    }
  }
}

/* SVGS */

svg {
  width: 1rem;
  aspect-ratio: 1/1;
  color: inherit;

  &.tick {
    color: $tick;
  }

  &.x_tick {
    color: $x_tick;
  }
}

.popular_sec {
  position: absolute;
  bottom: 1.5rem;
  right: -3rem;
  width: 12rem;
  height: 3rem;
  rotate: -45deg;
  background: $box5;
  color: $primary;
  font-weight: 800;
  font-size: 0.9rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  @include flex_center();
}

img.bg_plan {
  position: absolute;
  z-index: -10;
  width: 90%;
  max-width: 20rem;
  &:nth-child(1) {
    top: 0;
    left: 0;
  }

  &:nth-last-child(1) {
    bottom: 0;
    right: 0;
  }
}

/* SCROLL INDICATION */
.scroll_indicator {
  display: none;
  position: fixed;
  right: 5px;
  background: $light_main_bg;
  top: 50%;
  border-radius: 4rem;
  transform: translateY(-50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 100;
  padding: 1rem 0.2rem;
  opacity: 0;
  transition: all 5s ease;

  @media screen and (min-width: 992px) {
    &.visible {
      display: flex !important;
      opacity: 1;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 0.3rem;
    top: 2rem;
    right: 10px;
    background: $white;
    height: 9rem;
  }
  a {
    position: relative;
    padding: 10px;
    &::after {
      content: " ";
      position: absolute;
      width: 0.8rem;
      aspect-ratio: 1/1;
      top: 50%;
      left: 20%;
      transform: rotate(-45deg);
      background: $white;
    }

    &:hover::after {
      background: $primary;
    }

    &.active_link {
      &::after {
        content: " ";
        background: $primary;
        transform: rotate(-45deg);
      }
    }
    &::before {
      content: attr(link-info);
      position: absolute;
      right: 1.5rem;
      top: 70%;
      padding: 0.2rem 0.4rem;
      display: flex;
      transform: translateY(-50%);
      background: $light_main_bg;
      color: $white;
      font-family: "Courier Prime";
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.2rem;
      pointer-events: none;
      box-shadow: $light_dark 0px 3px 3px 0px;
      transition: all 1s ease;
      opacity: 0;
    }
    &:hover::before {
      opacity: 1;
      transform: translate(0, -50%);
    }
  }
}

#projects_id {
  position: absolute;
  @media screen and (min-width: 992px) {
    width: 55rem;
  }
  aspect-ratio: 1/1;
}

span.particle {
  position: absolute;
  background: #70ff00;
  width: 10px;
  height: 10px;
  pointer-events: none;
  border-radius: 50%;
  z-index: 10000;
}
span.particle::before {
  content: "";
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  animation: moveParticles 2s linear infinite;
}

@keyframes moveParticles {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(300px);
  }
}

/* ADDING SCROLL ANIMATIONS */
.animations_up {
  opacity: 0.3;
  transform: translateY(100px);
  transition: all 0.4s ease-out;
  transition-delay: 0.4s;
}

/*  */
.animations_down {
  opacity: 0.3;
  transform: translateY(-100px);
  transition: all 0.4s ease-out;
  transition-delay: 0.4s;
}

/*  */
.animations_left {
  opacity: 0.3;
  transform: translateX(-110px);
  transition: all 0.4s ease-out;
  transition-delay: 0.4s;
  overflow: hidden;
  &_special {
    @media screen and (min-width: 1400px) {
      opacity: 0;
      transform: translateY(100px);
      transition: all 0.4s ease-out;
      transition-delay: 0.4s;
    }
  }
}

/*  */
.scroll-animation {
  opacity: 1;
  transform: translate(0);
}

/* ---------------------------PRE-LOADER--------------------------- */
.preloader {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: $white;

  &_inner {
    position: absolute;
    margin: -15em 0 0 -15em;
    top: 50vh;
    left: 50vw;

    img {
      background: $white;
    }
  }
  &.hidden {
    opacity: 0;
    z-index: -1000;
  }
}
