/* ---------------------------MIXINS--------------------------- */

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------------TEXT VARIABLE---------------------- */
.large_text {
  font-size: 4rem;
  line-height: normal;
  font-weight: 900;
}

.small_text {
  font-size: 1.2rem;
  width: 100%;
  line-height: normal;
  max-width: 35rem;
  font-weight: 500;

  &.spacing {
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
  }

  &.l_height {
    line-height: 2.2rem;
  }
}

.text_primary {
  color: $primary;
}

.text_light {
  color: $light_text;
}

/* BOX VARIABLE */
.box {
  border: 1px solid red;
  width: 100%;
  max-width: 25rem;
  text-align: center;

  &_inner {
    display: grid;
    gap: 2rem;
    padding: 2.5rem 1.5rem;
  }

  &_top {
    @include flex_center();
    flex-direction: column;
    gap: 1rem;
  }
}
