@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;0,1000;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
/* MEDIA SCREENS 
@media screen and (min-width: 1200px) {

 }
    @media screen and (min-width: 992px) {

    }

    @media screen and (min-width: 768px) {

    }
    @media screen and (min-width: 576px) {

    }

      @media screen and (min-width: 400px) {

      }
*/
/* ---------------------------MIXINS--------------------------- */
/* ----------------------CONTAINER VARIABLE---------------------- */
.container_main {
  padding: 1rem;
}
@media screen and (min-width: 400px) {
  .container_main {
    padding: 2rem;
  }
}

/* ----------------------TEXT VARIABLE---------------------- */
.large_text {
  font-size: 1.8rem;
  line-height: normal;
  font-weight: 900;
  text-transform: capitalize;
}
@media screen and (min-width: 400px) {
  .large_text {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .large_text {
    font-size: 4rem;
  }
}

.medium_text {
  font-size: 1.7rem;
  font-weight: 800;
  width: 100%;
  max-width: 40rem;
  margin: 0.2rem 0;
}
@media screen and (min-width: 576px) {
  .medium_text {
    font-size: 2.7rem;
  }
}
@media screen and (min-width: 992px) {
  .medium_text.l_height {
    line-height: 2.5rem;
  }
}

.small_text {
  font-size: 1.2rem;
  width: 100%;
  line-height: normal;
  max-width: 35rem;
  font-weight: 500;
}
.small_text.spacing {
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
}
.small_text.l_height {
  line-height: 1.7rem;
}
@media screen and (min-width: 768px) {
  .small_text.l_height {
    line-height: 2.2rem;
  }
}

.link_text {
  text-decoration: underline;
  width: -moz-fit-content;
  width: fit-content;
}
.link_text:hover {
  color: blue;
}

.text_primary {
  color: #024430;
}

.text_light {
  color: #527180;
}

.text_center {
  text-align: center;
}

.text_black {
  color: #000;
}

.learn_more {
  text-transform: capitalize;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.learn_more:hover {
  font-weight: 800;
}

/* BOX VARIABLE */
.box {
  width: 100%;
  max-width: 25rem;
  height: 100%;
  min-height: 27rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border-radius: 8px;
  padding: 1rem 0;
}
.box:nth-child(1) {
  background: #e0f1f4;
}
.box:nth-child(2) {
  background: #dff9f3;
}
.box:nth-child(3) {
  background: #ffeade;
}
.box:nth-child(4) {
  background: #efe9ff;
}
.box:nth-child(5) {
  background: #ffefd1;
}
.box:nth-child(6) {
  background: #d1ecf7;
}
.box:hover {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  cursor: pointer;
  box-shadow: 0px 0px 30px 0px rgba(14, 41, 50, 0.08);
}
.box_inner {
  display: grid;
  gap: 2rem;
  padding: 1rem;
  color: #024430;
}
@media screen and (min-width: 400px) {
  .box_inner {
    padding: 2.5rem 1.5rem;
  }
}
.box_top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.box_top img {
  box-shadow: 9px 11px 23px 0px rgba(6, 61, 79, 0.12);
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
  width: 6rem;
  aspect-ratio: 1/1;
}
@media screen and (min-width: 400px) {
  .box_top img {
    padding: 1.5rem;
    width: 7rem;
  }
}
.box_top h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.box_bottom {
  font-size: 1rem;
  color: #527180;
  height: 18vh;
  line-height: 1.2rem;
}
@media screen and (min-width: 400px) {
  .box_bottom {
    letter-spacing: 0.1px;
    line-height: 1.5rem;
  }
}

.review_line {
  border: 1px solid #ecf1f2;
  margin: 1.5rem 0;
  width: 100%;
}
.review_box {
  overflow: hidden;
  width: 100%;
  max-width: 30rem;
  border: 1px solid #cfdee3;
  background: #fff;
  border-radius: 8px;
  transition: all 1s ease-in-out;
  position: relative;
}
.review_box:hover {
  transition: all 1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border: 1px solid #afeae4;
}
.review_box_inner {
  display: grid;
  gap: 1rem;
  padding: 1.5rem 2rem;
}
.review_box_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.review_box_top_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.review_box_top_left img {
  width: 4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.review_box_top_left h6 {
  color: #024430;
  font-size: 1.1rem;
  font-weight: 700;
}
.review_box_top_left p {
  font-size: 0.8rem;
  line-height: normal;
  font-weight: 500;
  color: #527180;
}
.review_box_middle {
  color: #000;
  font-size: 1rem;
  line-height: normal;
}
.review_box_bottom_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  color: #527180;
  font-weight: 500;
  font-size: 0.9rem;
}
.review_box.special_bg {
  background: #ffe7bb;
  border-color: #ffd166;
}
.review_box.special_bg:hover {
  box-shadow: 0px 0px 30px 0px rgba(14, 41, 50, 0.08);
}
.review_box.special_bg .review_line {
  border-color: #ffd166;
}

/* SCROLL ANIMATION */
.scroll_active {
  position: fixed;
  transition: all;
  transition-duration: 5s;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 30px 0px rgba(14, 41, 50, 0.08);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transition: all 0.5s ease-in-out;
  z-index: 1000;
}

/* ----------------------BUTTON VARIABLE---------------------- */
.main_btn {
  border: 1px solid #024430;
  text-transform: capitalize;
  background: transparent;
  font-size: 1rem;
  width: 50%;
  height: 3rem;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  margin: 1rem 0;
}
.main_btn:hover {
  font-weight: 600;
  background: #024430;
  color: #fff;
}

.action_btn .nav_btn {
  border: 1px solid #024430;
  text-transform: capitalize;
  background: transparent;
  font-size: 1rem;
  width: 7.5rem;
  height: 3rem;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  border-radius: 8px;
}
.action_btn .nav_btn:nth-child(1) {
  text-decoration: underline;
  border: none;
  color: #024430;
}
.action_btn .nav_btn:nth-child(1):hover {
  background: transparent;
  color: blue;
}
.action_btn .nav_btn:hover {
  font-weight: 600;
  background: #024430;
  color: #fff;
}
.action_btn.mobile {
  display: grid;
  place-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.action_btn.mobile .nav_btn {
  width: 15rem;
}

.plan_btn {
  border: 1px solid #024430;
  text-transform: capitalize;
  background: transparent;
  color: #024430;
  font-size: 1rem;
  width: 14rem;
  height: 3rem;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  border-radius: 8px;
}
@media screen and (min-width: 576px) {
  .plan_btn {
    width: 12rem;
  }
}
.plan_btn:hover {
  font-weight: 700;
  background: #024430;
  color: #fff;
}
.plan_btn.contact {
  background: #024430;
  color: #fff;
  opacity: 1;
}
.plan_btn.contact:hover {
  opacity: 0.7;
}

/* SVGS */
svg {
  width: 1rem;
  aspect-ratio: 1/1;
  color: inherit;
}
svg.tick {
  color: #2cffbd;
}
svg.x_tick {
  color: #cfdee3;
}

.popular_sec {
  position: absolute;
  bottom: 1.5rem;
  right: -3rem;
  width: 12rem;
  height: 3rem;
  rotate: -45deg;
  background: #ffefd1;
  color: #024430;
  font-weight: 800;
  font-size: 0.9rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.bg_plan {
  position: absolute;
  z-index: -10;
  width: 90%;
  max-width: 20rem;
}
img.bg_plan:nth-child(1) {
  top: 0;
  left: 0;
}
img.bg_plan:nth-last-child(1) {
  bottom: 0;
  right: 0;
}

/* SCROLL INDICATION */
.scroll_indicator {
  display: none;
  position: fixed;
  right: 5px;
  background: #f6f6f6;
  top: 50%;
  border-radius: 4rem;
  transform: translateY(-50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 100;
  padding: 1rem 0.2rem;
  opacity: 0;
  transition: all 5s ease;
}
@media screen and (min-width: 992px) {
  .scroll_indicator.visible {
    display: flex !important;
    opacity: 1;
  }
}
.scroll_indicator::before {
  content: "";
  position: absolute;
  width: 0.3rem;
  top: 2rem;
  right: 10px;
  background: #fff;
  height: 9rem;
}
.scroll_indicator a {
  position: relative;
  padding: 10px;
}
.scroll_indicator a::after {
  content: " ";
  position: absolute;
  width: 0.8rem;
  aspect-ratio: 1/1;
  top: 50%;
  left: 20%;
  transform: rotate(-45deg);
  background: #fff;
}
.scroll_indicator a:hover::after {
  background: #024430;
}
.scroll_indicator a.active_link::after {
  content: " ";
  background: #024430;
  transform: rotate(-45deg);
}
.scroll_indicator a::before {
  content: attr(link-info);
  position: absolute;
  right: 1.5rem;
  top: 70%;
  padding: 0.2rem 0.4rem;
  display: flex;
  transform: translateY(-50%);
  background: #f6f6f6;
  color: #fff;
  font-family: "Courier Prime";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  pointer-events: none;
  box-shadow: #828282 0px 3px 3px 0px;
  transition: all 1s ease;
  opacity: 0;
}
.scroll_indicator a:hover::before {
  opacity: 1;
  transform: translate(0, -50%);
}

#projects_id {
  position: absolute;
  aspect-ratio: 1/1;
}
@media screen and (min-width: 992px) {
  #projects_id {
    width: 55rem;
  }
}

span.particle {
  position: absolute;
  background: #70ff00;
  width: 10px;
  height: 10px;
  pointer-events: none;
  border-radius: 50%;
  z-index: 10000;
}

span.particle::before {
  content: "";
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  animation: moveParticles 2s linear infinite;
}

@keyframes moveParticles {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(300px);
  }
}
/* ADDING SCROLL ANIMATIONS */
.animations_up {
  opacity: 0.3;
  transform: translateY(100px);
  transition: all 0.4s ease-out;
  transition-delay: 0.4s;
}

/*  */
.animations_down {
  opacity: 0.3;
  transform: translateY(-100px);
  transition: all 0.4s ease-out;
  transition-delay: 0.4s;
}

/*  */
.animations_left {
  opacity: 0.3;
  transform: translateX(-110px);
  transition: all 0.4s ease-out;
  transition-delay: 0.4s;
  overflow: hidden;
}
@media screen and (min-width: 1400px) {
  .animations_left_special {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.4s ease-out;
    transition-delay: 0.4s;
  }
}

/*  */
.scroll-animation {
  opacity: 1;
  transform: translate(0);
}

/* ---------------------------PRE-LOADER--------------------------- */
.preloader {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: #fff;
}
.preloader_inner {
  position: absolute;
  margin: -15em 0 0 -15em;
  top: 50vh;
  left: 50vw;
}
.preloader_inner img {
  background: #fff;
}
.preloader.hidden {
  opacity: 0;
  z-index: -1000;
}

/*     font-family: "Manrope", sans-serif;
    font-style: normal; */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: all 1s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "EB Garamond", serif;
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav_hero_sec {
  background: #f6f6f6;
  height: 100%;
  max-height: 80vh;
}

/* --------------------------------------HEADER-------------------------------------- */
header {
  position: relative;
  /* DROPDOWN MENU */
}
header .navbar {
  width: 100%;
  padding: 1rem;
  z-index: 200;
  transition: all 1s ease-in-out;
}
@media screen and (min-width: 992px) {
  header .navbar {
    padding: 0.8rem;
  }
}
@media screen and (min-width: 1200px) {
  header .navbar {
    padding: 2% 3.5%;
  }
}
header .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (min-width: 1200px) {
  header .navbar ul {
    gap: 2rem;
  }
}
header .navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
}
header .navbar ul li:hover {
  color: #024430;
  font-weight: 700;
  /* add animation on hover  */
}
header .navbar ul li > span {
  display: none;
}
@media screen and (min-width: 1200px) {
  header .navbar ul li > span {
    display: block;
  }
}
header .navbar_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1rem;
}
@media screen and (min-width: 1200px) {
  header .navbar_inner {
    font-size: 1.5rem;
  }
}
header .navbar_inner .menu_items,
header .navbar_inner .contact_items,
header .navbar_inner .navbar_right {
  display: none;
}
header .navbar_inner .toogle_btn {
  display: block;
  color: #000;
  font-size: 2rem;
  cursor: pointer;
  z-index: 100;
  transition: all 1s ease-in-out;
}
@media screen and (min-width: 1200px) {
  header .navbar_inner .menu_items,
  header .navbar_inner .contact_items,
  header .navbar_inner .navbar_right {
    display: block;
  }
  header .navbar_inner .toogle_btn {
    display: none;
  }
}
header .navbar_logo_sec {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
@media screen and (min-width: 576px) {
  header .navbar_logo_sec {
    font-size: 1.5rem;
  }
}
header .navbar_logo_sec img {
  width: 1.5rem;
  aspect-ratio: 1/1;
}
@media screen and (min-width: 576px) {
  header .navbar_logo_sec img {
    width: 2.5rem;
  }
}
header .navbar_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
@media screen and (min-width: 1400px) {
  header .navbar_left {
    gap: 7rem;
  }
}
header .dropdown_menu {
  position: absolute;
  top: 4.5rem;
  font-size: 1rem;
  z-index: 20;
  border-radius: 1rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  height: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  overflow: hidden;
  background: #fff !important;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media screen and (min-width: 576px) {
  header .dropdown_menu {
    right: 1rem;
    width: 300px;
    border-radius: 1rem;
  }
}
@media screen and (max-width: 992px) {
  header .dropdown_menu {
    position: fixed;
  }
}
header .dropdown_menu.open {
  height: 25rem;
}
header .dropdown_menu_inner {
  padding: 1rem 0;
  text-transform: capitalize;
}
header .dropdown_menu ul {
  text-align: center;
  display: grid;
  place-items: center;
  padding: 0;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
header .dropdown_menu ul li {
  cursor: pointer;
}
header .dropdown_menu ul li:hover {
  color: #024430;
}
header .dropdown_menu ul li > img {
  position: relative;
  inset: 0.6rem 0;
}
@media screen and (min-width: 1200px) {
  header .dropdown_menu {
    display: none;
  }
}

/* ------------------------HERO SECTION------------------------ */
.hero_sec_inner {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  display: grid;
  padding: 1rem;
}
@media screen and (min-width: 400px) {
  .hero_sec_inner {
    padding: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .hero_sec_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }
}
.hero_left {
  width: 100%;
  max-width: 45rem;
}
.hero_right {
  display: none;
}
@media screen and (min-width: 1200px) {
  .hero_right {
    display: block;
  }
}
.hero_right img {
  width: 100%;
  max-width: 40rem;
}

/* ------------------------WHAT WE OFFER SECTION------------------------ */
.we_offer_sec {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.we_offer_top {
  text-align: center;
  margin-top: 5.5rem;
  margin-bottom: 2.5rem;
  display: grid;
  place-items: center;
}
.we_offer_top p {
  line-height: normal;
}
.we_offer_flexbox_inner {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  place-items: center;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .we_offer_flexbox_inner {
    gap: 1.5rem;
    grid-template-columns: auto auto;
  }
}
@media screen and (min-width: 992px) {
  .we_offer_flexbox_inner {
    gap: 2rem;
    grid-template-columns: auto auto auto;
  }
}

/* ----------------------HOW TO START SECTION---------------------- */
.how_start_inner {
  display: grid;
  gap: 3rem;
  padding: 7rem 0;
}
@media screen and (min-width: 576px) {
  .how_start_inner {
    padding-inline: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .how_start_inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.how_start_left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.how_start_left img.fly {
  position: absolute;
  top: -0.8rem;
  left: 0;
  width: 3.5rem;
  animation: animate2 6s ease-in-out infinite;
}
@media screen and (min-width: 576px) {
  .how_start_left img.fly {
    top: 0;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.how_start_left img.certify {
  position: absolute;
  right: 0;
  bottom: 0;
  aspect-ratio: 1/1;
  width: 3.5rem;
  animation: animate1 6s ease-in-out infinite;
}
@media screen and (min-width: 400px) {
  .how_start_left img.certify {
    width: 18%;
  }
}
.how_start_left .img_sec {
  overflow: hidden;
}
.how_start_left .img_sec img {
  border-radius: 900px;
  width: 95%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .how_start_left .img_sec img {
    max-width: 45rem;
  }
}
.how_start_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .how_start_right {
    padding: 0 2.5rem;
  }
}
.how_start_right_top > div {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 1.1rem;
}
.how_start_right_top > div .short_line {
  width: 7rem;
  height: 0.1rem;
  border-width: 0.1em;
  border: 1px solid #527180;
}
.how_start_right_top h4 {
  font-size: 1.5rem;
  color: #024430;
  font-weight: 600;
  width: 100%;
  max-width: 40rem;
  margin: 0.2rem 0;
}
@media screen and (min-width: 576px) {
  .how_start_right_top h4 {
    font-size: 2.4rem;
  }
}
.how_start_right_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
}
.how_start_right_bottom_inner {
  display: grid;
  gap: 1.6rem;
}
.how_start_right_bottom .bottom_text_sec {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.how_start_right_bottom .bottom_text_left {
  background: #024430;
  color: #ffefd1;
  font-weight: 900;
  font-size: 2rem;
  width: 5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.how_start_right_bottom .bottom_text_right h5 {
  font-size: 1.1rem;
  color: #024430;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
@media screen and (min-width: 576px) {
  .how_start_right_bottom .bottom_text_right h5 {
    font-size: 1.5rem;
  }
}
.how_start_right_bottom .bottom_text_right p {
  max-width: 35rem;
  font-size: 0.8rem;
  color: #527180;
  line-height: normal;
}
@media screen and (min-width: 576px) {
  .how_start_right_bottom .bottom_text_right p {
    font-size: 1rem;
  }
}
@keyframes animate1 {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
}
@keyframes animate2 {
  0%, 100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(18px);
  }
}
@keyframes animate3 {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
}

/* ----------------------USERS SECTION---------------------- */
.users_sec {
  max-width: 100%;
  background: #f6f6f6;
  margin: 0 auto;
}
.users_inner {
  display: grid;
  place-items: center;
  gap: 3.5rem;
  padding: 1.5rem 0;
}
@media screen and (min-width: 576px) {
  .users_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 0;
  }
}
.users_inner p {
  display: grid;
  place-items: center;
}
.users_inner p span {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 992px) {
  .users_inner p span {
    font-size: 1.2rem;
  }
}

/* ----------------------BEST_PLAN SECTION---------------------- */
.best_plan_sec {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7rem 0;
  border: 1px solid #cfdee3;
}
.best_plan_inner {
  display: grid;
  place-items: center;
  gap: 5rem;
  padding: 5rem 0;
}
.best_plan_bottom_inner {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  place-items: center;
  flex-wrap: wrap;
}
.best_plan_bottom .plan_box {
  overflow: hidden;
  border: 1px solid #cfdee3;
  background: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  transition: all 1s ease-in-out;
  position: relative;
  /* TOP-BOX-SECTION */
}
.best_plan_bottom .plan_box:hover {
  transition: all 1s ease-in-out;
  box-shadow: 0px 0px 3px 0px #2cffbd;
}
.best_plan_bottom .plan_box_inner {
  display: grid;
  gap: 1.5rem;
}
.best_plan_bottom .plan_box_top {
  display: grid;
  gap: 2rem;
}
.best_plan_bottom .plan_box_top > div {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.best_plan_bottom .plan_box_top > div img {
  box-shadow: 9px 11px 23px 0px rgba(6, 61, 79, 0.12);
  border-radius: 8px;
  padding: 1rem;
  width: 4rem;
  aspect-ratio: 1/1;
}
.best_plan_bottom .plan_box_top > div img:nth-child(1) {
  background: #efe9ff;
}
.best_plan_bottom .plan_box_top > div img:nth-child(2) {
  background: #ffefd1;
}
.best_plan_bottom .plan_box_top > div img:nth-child(3) {
  background: #d1ecf7;
}
@media screen and (min-width: 400px) {
  .best_plan_bottom .plan_box_top > div img {
    padding: 1.2rem;
    width: 5rem;
  }
}
.best_plan_bottom .plan_box_top > div .top_header {
  display: grid;
}
.best_plan_bottom .plan_box_top > div .top_header h5 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.2rem;
}
@media screen and (min-width: 576px) {
  .best_plan_bottom .plan_box_top > div .top_header h5 {
    font-size: 2rem;
  }
}
.best_plan_bottom .plan_box_top > div .top_header p {
  font-size: 1.1rem;
  font-weight: 400;
}
.best_plan_bottom .plan_box_top_bottom {
  display: grid !important;
  gap: 1rem !important;
}
@media screen and (min-width: 576px) {
  .best_plan_bottom .plan_box_top_bottom {
    display: flex !important;
    align-items: center;
    justify-content: flex-start !important;
    gap: 2rem !important;
  }
}
.best_plan_bottom .plan_box_top_bottom > div p {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.9rem;
}
.best_plan_bottom .plan_box_top_bottom > div p:nth-last-of-type(1) {
  font-size: 0.8rem;
  color: #000 !important;
}
.best_plan_bottom .plan_box_top_bottom > div p span {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.01em;
}
.best_plan_bottom .plan_box_bottom ul {
  padding: 0;
  display: grid;
  gap: 1rem;
}
.best_plan_bottom .plan_box_bottom ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.best_plan_bottom .plan_box_bottom p {
  margin: 2rem 0 0 0;
}

/* ----------------------REVIEWS SECTION---------------------- */
.reviews_sec {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews_inner {
  padding: 3rem 0;
  gap: 2rem;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 992px) {
  .reviews_inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .reviews_left {
    margin-bottom: 4rem;
  }
}
.reviews_left_top {
  display: grid;
  place-items: center;
}
.reviews_left_top > img {
  width: 100%;
  max-width: 24rem;
  aspect-ratio: 1/1;
}
.reviews_left_bottom {
  width: 100%;
  max-width: 100%;
  display: grid;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .reviews_left_bottom {
    text-align: left;
    gap: 1rem;
    max-width: 24rem;
  }
}
.reviews_left_left {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .reviews_left_left {
    flex-direction: column;
  }
}
.reviews_left_right {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .reviews_left_right {
    margin-top: -10rem;
  }
}
.reviews_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews_right_inner {
  gap: 1rem;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 768px) {
  .reviews_right_inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* --------------------------------------FOOTER SECTION-------------------------------------- */
footer {
  background: #f6f6f6;
  margin-top: 5rem;
  border: 1px solid #cfdee3;
}
footer .footer_inner {
  display: grid;
  justify-content: space-around;
  gap: 2rem;
  align-items: flex-start;
  padding: 1rem 0;
}
@media screen and (min-width: 992px) {
  footer .footer_inner {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
}
footer .footer_inner ul {
  padding: 0;
}
footer .footer_inner ul li {
  display: flex;
  gap: 0.8rem;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: normal;
  color: #000;
  width: 100%;
  max-width: 20rem;
}
@media screen and (min-width: 400px) {
  footer .footer_inner ul li {
    font-size: 1.2rem;
  }
}
footer .footer_left > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
}
footer .footer_left > div img {
  width: 3rem;
  aspect-ratio: 1/1;
}
footer .footer_left p {
  width: 100%;
  max-width: 27rem;
}
@media screen and (min-width: 1200px) {
  footer .footer_left p {
    max-width: 29rem;
  }
}
footer .footer_right {
  display: grid;
  place-items: left;
  align-items: flex-start;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  footer .footer_right {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    gap: 1.5rem;
  }
}
footer .footer_right h3 {
  text-transform: capitalize;
  color: #024430;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}
footer .footer_bottom {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: normal;
}
@media screen and (min-width: 992px) {
  footer .footer_bottom {
    font-size: 1rem;
  }
}/*# sourceMappingURL=styles.css.map */