@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;0,1000;1,400&display=swap");
@import "./_color";
@import "./variables";

/*     font-family: "Manrope", sans-serif;
    font-style: normal; */

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: all 1s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
.nav_hero_sec {
  background: $light_main_bg;
  height: 100%;
  max-height: 80vh;
}

/* --------------------------------------HEADER-------------------------------------- */
header {
  position: relative;

  .navbar {
    width: 100%;
    padding: 1rem;
    z-index: 200;
    transition: all 1s ease-in-out;

    @media screen and (max-width: 1200px) {
      // position: fixed;
      top: 0;
    }

    @media screen and (min-width: 992px) {
      padding: 0.8rem;
    }

    @media screen and (min-width: 1200px) {
      padding: 2% 3.5%;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      @media screen and (min-width: 1200px) {
        gap: 2rem;
      }

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-weight: 500;

        &:hover {
          color: $primary;
          font-weight: 700;

          /* add animation on hover  */
        }

        & > span {
          display: none;
          @media screen and (min-width: 1200px) {
            display: block;
          }
        }
      }
    }
    &_inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 700;
      text-transform: capitalize;
      font-size: 1rem;
      @media screen and (min-width: 1200px) {
        font-size: 1.5rem;
      }

      .menu_items,
      .contact_items,
      .navbar_right {
        display: none;
      }

      .toogle_btn {
        display: block;
        color: $black;
        font-size: 2rem;
        cursor: pointer;
        z-index: 100;
        transition: all 1s ease-in-out;
      }

      @media screen and (min-width: 1200px) {
        .menu_items,
        .contact_items,
        .navbar_right {
          display: block;
        }

        .toogle_btn {
          display: none;
        }
      }
    }

    &_logo_sec {
      @include flex_center();
      font-size: 1rem;
      @media screen and (min-width: 576px) {
        font-size: 1.5rem;
      }
      img {
        width: 1.5rem;
        aspect-ratio: 1/1;
        @media screen and (min-width: 576px) {
          width: 2.5rem;
        }
      }
    }

    &_left {
      @include flex_center();
      gap: 5rem;
      @media screen and (min-width: 1400px) {
        gap: 7rem;
      }
    }

    &_right {
    }
  }

  /* DROPDOWN MENU */

  .dropdown_menu {
    position: absolute;
    top: 4.5rem;
    font-size: 1rem;
    z-index: 10;
    border-radius: 1rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    height: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1rem;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    @media screen and (min-width: 576px) {
      right: 1rem;
      width: 300px;
      border-radius: 1rem;
    }
    @media screen and (max-width: 992px) {
      position: fixed;
    }

    &.open {
      height: 25rem;
    }

    &_inner {
      padding: 1rem 0;
      text-transform: capitalize;
    }

    ul {
      text-align: center;
      display: grid;
      place-items: center;
      padding: 0;
      gap: 1.5rem;
      margin-bottom: 1rem;

      li {
        cursor: pointer;
        &:hover {
          color: $primary;
        }

        & > img {
          position: relative;
          inset: 0.6rem 0;
        }
      }
    }

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
}
/* ------------------------HERO SECTION------------------------ */

.hero {
  &_sec {
    &_inner {
      width: 100%;
      height: fit-content;
      overflow: hidden;
      display: grid;
      padding: 1rem;

      @media screen and (min-width: 400px) {
        padding: 2rem;
      }
      @media screen and (min-width: 992px) {
        @include flex_center();
        justify-content: space-around;
      }
    }
  }

  &_left {
    width: 100%;
    max-width: 45rem;
  }

  &_right {
    display: none;
    @media screen and (min-width: 1200px) {
      display: block;
    }
    img {
      width: 100%;
      max-width: 40rem;
    }
  }
}

/* ------------------------WHAT WE OFFER SECTION------------------------ */

.we_offer {
  &_sec {
    width: 100%;
    @include flex_center();
  }

  &_top {
    text-align: center;
    margin-top: 5.5rem;
    margin-bottom: 2.5rem;
    display: grid;
    place-items: center;

    p {
      line-height: normal;
    }
  }

  &_flexbox {
    &_inner {
      display: grid;
      grid-template-columns: auto;
      justify-content: center;
      place-items: center;
      gap: 1rem;

      @media screen and (min-width: 768px) {
        gap: 1.5rem;
        grid-template-columns: auto auto;
      }

      @media screen and (min-width: 992px) {
        gap: 2rem;
        grid-template-columns: auto auto auto;
      }
    }
  }
}

/* ----------------------HOW TO START SECTION---------------------- */
.how_start {
  &_inner {
    display: grid;
    gap: 3rem;
    padding-top: 7rem;

    @media screen and (min-width: 576px) {
      padding-inline: 1rem;
    }

    @media screen and (min-width: 992px) {
      @include flex_center();
    }
  }

  &_left {
    position: relative;
    @include flex_center();

    img.fly {
      position: absolute;
      top: -0.8rem;
      left: 0;
      width: 3.5rem;
      animation: animate2 6s ease-in-out infinite;

      @media screen and (min-width: 576px) {
        top: 0;
        width: fit-content;
      }
    }

    img.certify {
      position: absolute;
      right: 0;
      bottom: 0;
      aspect-ratio: 1/1;
      width: 3.5rem;
      animation: animate1 6s ease-in-out infinite;

      @media screen and (min-width: 400px) {
        width: 18%;
      }
    }

    .img_sec {
      overflow: hidden;
      img {
        border-radius: 900px;
        width: 95%;
        height: fit-content;
        margin: 0 auto;

        @media screen and (min-width: 992px) {
          max-width: 45rem;
        }
      }
    }
  }

  &_right {
    @include flex_center();
    @media screen and (min-width: 992px) {
      padding: 0 2.5rem;
    }

    &_top {
      & > div {
        @include flex_center();
        justify-content: flex-start;
        gap: 0.5rem;
        font-size: 1.1rem;

        .short_line {
          width: 7rem;
          height: 0.1rem;
          border-width: 0.1em;
          border: 1px solid $light_text;
        }
      }

      h4 {
        font-size: 1.5rem;
        color: $primary;
        font-weight: 600;
        width: 100%;
        max-width: 40rem;
        margin: 0.2rem 0;

        @media screen and (min-width: 576px) {
          font-size: 2.4rem;
        }
      }
    }

    &_bottom {
      @include flex_center();
      justify-content: flex-start;
      align-items: flex-start;

      &_inner {
        display: grid;
        gap: 1.6rem;
      }
      .bottom_text {
        &_sec {
          @include flex_center();
          gap: 1rem;
        }

        &_left {
          background: $primary;
          color: $box5;
          font-weight: 900;
          font-size: 2rem;
          width: 5rem;
          aspect-ratio: 1/1;
          border-radius: 50%;
          @include flex_center();
        }

        &_right {
          h5 {
            font-size: 1.1rem;
            color: $primary;
            font-weight: 600;
            line-height: normal;
            text-transform: capitalize;

            @media screen and (min-width: 576px) {
              font-size: 1.5rem;
            }
          }

          p {
            max-width: 35rem;
            font-size: 0.8rem;
            color: $light_text;
            line-height: normal;

            @media screen and (min-width: 576px) {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  @keyframes animate1 {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(15px);
    }
  }
  @keyframes animate2 {
    0%,
    100% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(18px);
    }
  }

  @keyframes animate3 {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(20px);
    }
  }
}
